/* 
    Document   : monitor
    Created on : 10-abr-2013, 11:51:10
    Author     : mlabrinb
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
root { 
    display: block;
    background-color: #5c87b2;
    margin: 0;
    padding: 0;
    color: #696969;
}        
body {
    margin: 0;
    padding: 0;
    color: #696969;
    font-family: Arial, monospace;
    font-size: 11px;
}        
.seccion {
    font-size: .75em;
    font-family: Verdana, Helvetica, Sans-Serif;
    background-color: #5c87b2; 
    color: white; 
    text-align: center; 
    padding: 3px; 
    height: 30px;
    font-weight: bold;
}
