/* 
    Document   : tabla1
    Created on : 16-abr-2013, 20:21:34
    Author     : mlabrinb
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

table.sucursales{
  border: 0px solid black;
  border-spacing: 0px;
}

table.sucursales thead tr{
  font-family: Arial, monospace;
  font-size: 14px;
}

table.sucursales thead tr th{
  border-bottom: 2px solid black;
  border-top: 1px solid black;
  margin: 0px;
  padding: 2px;
  background-color: #cccccc;
}

table.sucursales tr {
  font-family: arial, monospace;
  color: black;
  font-size:12px;
  background-color: white;
}

table.sucursales tr.odd {
  background-color: #AAAAAA;
}

table.sucursales tr td, th{
  padding: 2px;
}

table.sucursales tr a {
	color: #000000;
}

table.sucursales tr:hover a {
	color: #ffffff;
}

table.sucursales tr:hover, tr.odd:hover {
	background-color: #3d80df;
	color: #ffffff;
}

a:link{
  font-family:arial, monospace;
  text-decoration: none;
  color: teal;
}

a:hover{
  text-decoration: underline;
}

a:visited{
  color:black;
  text-decoration: none;
}